@use "./modules/home.scss";
@use "./modules/about.scss";
@use "./modules/projects.scss";
@use "./modules/contact.scss";
@use "./partials/devices";
@use "./partials/mixins";
@use "./partials/palette";

$primary: palette.$colour3;

//Navbar
.nav {
    &-link {
        font-weight: 600;
        &:hover {
            text-decoration: underline;
            text-decoration-color: palette.$colour3;
            text-decoration-thickness: 15%;
        }
    }
}

$light: palette.$colour1;
$navbar-light-color: palette.$colour2 !default;
$navbar-light-hover-color: palette.$colour2 !default;
$navbar-light-active-color: palette.$colour1 !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: palette.$colour3 !default;
$navbar-light-brand-color: $navbar-light-hover-color !default;
$navbar-light-brand-hover-color: $navbar-light-active-color !default;

//Projects
$card-border-color: palette.$colour3;

//Bootstrap Source Files
@import "./../node_modules/bootstrap/scss/bootstrap";
