@use "./../partials/mixins";
@use "./../partials/devices";
@use "./../partials/palette";

.section {
    &__about {
        display: grid;
        grid-template-columns: 1fr 0.25fr 1fr;
        grid-template-areas: "me . skills";
        @include devices.phone {
            @include mixins.flex($fd: column, $jc: space-around);
        }
    }
}

.about {
    &__me {
        border: 1px solid palette.$colour3;
        margin: 200px 0;
        padding: 5%;
        grid-area: me;
        text-align: center;
        @include mixins.flex($fd: column);
        @include devices.phone {
            margin-bottom: 5%;
        }
    }

    &__tech {
        border: 1px solid palette.$colour3;
        margin: 200px 0;
        padding: 5%;
        grid-area: skills;
        @include mixins.flex($fd: column);
        @include devices.phone {
            width:100%;
            margin-top: 0;
        }
    }
}

.tech {
    &__title {
        margin-bottom: 20px;
    }
    &__front {
        margin-bottom: 20px;

        & > img {
            @include devices.phone {
                width: 32px;
            }
        }
    }
    &__back {
        margin-bottom: 20px;
        & > img {
            @include devices.phone {
                width: 32px;
            }
        }
    }
    &__tools {
        & > img {
            @include devices.phone {
                width: 32px;
            }
        }
    }
}
