@use "./../partials/mixins";
@use "./../partials/devices";
@use "./../partials/palette";

.section {
    &__projects {

        @include mixins.flex($fd:column);

        &__title {
            text-align: center
        }

        &__container {
            @include mixins.flex($jc: space-around);
            flex-wrap: wrap;
            width: 100vw;
            margin-top: 80px;
        }

        @include devices.phone {
            height: auto;
        }
    }
}

.card {
    @include mixins.flex($fd: column);
    width: 250px;

    @include devices.tablet {
        margin-bottom: 20px;
    }

    @include devices.phone {
        margin-bottom: 20px;
    }

    &-buttons > a > button {
        margin: 5px 20px;
    }
    &-tech {
        &__icon {
            margin-top: 10px;
            width: 35px;
        }
    }
}
